////
/// ----------------------------------------------------------------------------------------
/// Index view styles
/// ----------------------------------------------------------------------------------------
/// @TODO - update template name and description
/// @description - Index view layout and styling
////


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$small-up} {
    .index {
        .row {
            background-color: $white;
        }
        .sprite-proof {}

        .icon-fb {
            background-image: url(../assets/images/t.png);
            background-position: 0px 0px;
            width: 32px;
            height: 32px;
            display: inline-block;
            background-color: aqua;
        }

        .icon-i {
            background-image: url(../assets/images/t.png);
            background-position: 0px 32px;
        }

    }
}
/// End of Small Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Small/mobile viewport widths only
/// ----------------------------------------------------------------------------------------
////
@media #{$small-only} {
    .index {

    }
}
/// End of Small Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$medium-up} {
    .index {

    }
}
/// End of Medium Up


/////
/// ----------------------------------------------------------------------------------------
/// @description - Medium viewport widths only
/// ----------------------------------------------------------------------------------------
////
@media #{$medium-only} {
    .index {

    }
}
/// End of Medium Only


/////
/// ----------------------------------------------------------------------------------------
/// @description - Large viewport widths up to infinity
/// ----------------------------------------------------------------------------------------
////
@media #{$large-up} {
    .index {

    }
}
/// End of Large Up
