<div class="">
    <h1>CollectionView &amp; ItemView Data</h1>
</div>

<ul class="small-block-grid-4">
    {{#each locations}}
    <li><img src="{{countrySVG}}" alt="" />
    {{country}}
    {{attendees}} people</li>

    {{/each}}
</ul>
