////
/// ----------------------------------------------------------------------------------------
/// Sass classes
/// ----------------------------------------------------------------------------------------
/// @description - modular re-usable classes
////



@import "sprite";

.sprite-proof [class*="icon-"] {
    height: 32px;
    width: 32px;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.icon-facebook {
  @include sprite($facebook);
  }

.icon-instagram {
  @include sprite($instagram);
}

.icon-pinterest {
  @include sprite($pinterest);
}

.icon-tumblr {
  @include sprite($tumblr);
}

.icon-twitter {
  @include sprite($twitter);
}

.icon-vimeo{
  @include sprite($vimeo);
}
.icon-youtube {
  @include sprite($youtube);
}
